{% extends 'index.html' %} 
{% load static %} 
{% block register_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
<script src="{% static 'js/password.js' %}"></script>
{% endblock %} 
{% block content %}
<div class="register">
	<h1>Register</h1>
	<form class="register_form" method="post">
		{% csrf_token %}
		<div class="fieldWrapper">
			{{ form.username }}
			<label for="{{ form.username.id_for_label }}">Username</label>
		</div>
		<div class="errors">
			{{ form.username.errors }}
		</div>
		<div class="fieldWrapper">
			{{ form.email }}
			<label for="{{ form.email.id_for_label }}">Email</label>
		</div>
		<div class="errors">
			{% if form.email.errors %}
			{{ form.email.errors }}
			{% else %}
			{{ form.non_field_errors }}
			{% endif %}
		</div>
		<div class="fieldWrapper">
			{{ form.role }}
			<!-- <label for="{{ form.role.id_for_label }}">Role</label> -->
		</div>
		<div class="errors">
			{{ form.role.errors }}
		</div>
		<div class="fieldWrapper">
			{{ form.password1 }}
			<label for="{{ form.password1.id_for_label }}">Password</label>
			<span onclick="togglePasswordField('id_password1','eye-icon1')" class="input_icon_wrapper">
				<i id="eye-icon1" class="input_icon fa-regular fa-eye"></i>
			</span>
		</div>
		<div class="errors">
			{{ form.password1.errors }}
		</div>
		<div class="fieldWrapper">
			{{ form.password2 }}
			<label for="{{ form.password2.id_for_label }}">Confirm Password</label>
			<span onclick="togglePasswordField('id_password2','eye-icon2')" class="input_icon_wrapper">
				<i id="eye-icon2" class="input_icon fa-regular fa-eye"></i>
			</span>
		</div>
		<div class="errors">
			{{ form.password2.errors }}
		</div>
		<button class="submit_btn" type="submit">Register</button>
	</form>
	<p class="direct-link">Already have an account? <a href="{% url 'login' %}">Sign in!</a></p>
</div>
{% endblock %}
