{% extends 'index.html' %}
{% load static %}  
{% block register_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
<script src="{% static 'js/password.js' %}"></script>
{% endblock %}
{% block content %}
<div class="login">
	<h1>Login</h1>
	<form class="login_form" method="post" action="{% url 'set_password' %}">
		{% csrf_token %}
        <div class="fieldWrapper">
			{{ form.password }}
			<label for="{{ form.password.id_for_label }}">Password</label>
			<span onclick="togglePasswordField('id_password','eye-icon1')" class="input_icon_wrapper">
				<i id="eye-icon1" class="input_icon fa-regular fa-eye"></i>
			</span>
		</div>
		<div class="errors">
		</div>
		<div class="fieldWrapper">
			{{ form.confirm_password }}
			<label for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
			<span onclick="togglePasswordField('id_confirm_password','eye-icon2')" class="input_icon_wrapper">
				<i id="eye-icon2" class="input_icon fa-regular fa-eye"></i>
			</span>
		</div>
		<div class="errors">
			<ul class="errorlist">
                <li>{{ errors }}</li>
            </ul>
		</div>
		<button class="submit_btn" type="submit">Set Password</button>
	</form>
</div>
{% endblock %}