{% extends 'index.html' %}
{% load static %}  
{% block register_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}
{% block content %}
<div class="login">
	<h1>Forgot Password</h1>
	<form class="login_form" method="POST">
		{% csrf_token %}
			<div class="fieldWrapper">
				{{ form.email }}
				<label for="{{ form.email.id_for_label }}">Email</label>
			</div>
			<div class="errors">
			</div>
            <div class="fieldWrapper">
                {{ form.role }}
            </div>
            <div class="errors">
                {{ form.role.errors }}
            </div>
            {{ errors }}
            <div class="errors">
                {% if invalid_data %}
                    <ul class="errorlist">
                        <li>{{ invalid_data }}</li>
                    </ul>
                {% endif %}
			</div>
		<button class="submit_btn" type="submit">Send OTP</button>
	</form>
</div>
{% endblock %}
