*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--backgroundColor);
    font-family: var(--font-family);
}

.main-container{
    display: flex;
    flex-direction: row;
}

#container{
    width: calc(100% - 290px);
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 290px;
    transition: all 0.5s;
}

