navbar{
    height: 96.5vh;
    display: flex;
    width: 270px;
    background-color: #353535;
    margin: 10px 0 10px 10px;
    border-radius: 15px;
    transition: all 0.5s;
    position: fixed;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 15px;
    overflow: hidden;
}

/* nav div{
    border: 1px solid red;
} */

nav div ul li{
    list-style: none;
    margin: 0;
}

.header-nav ul div{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header-nav ul div:nth-last-child(2){
    background-color: yellow;
} */

.header-nav ul{
    margin-bottom: 10px;
}

.header-nav ul div h4{
    font-size: 20px;
}

#search-box{
    display: flex;
    justify-content: space-between;
}

.header-nav ul div #search{
    padding: 9px 7px;
    background-color: #212121;
    border: none;
    border-radius: 4px;
    color: #fff;
    width: 65%;
}

.header-nav ul div #search:focus{
    border: none;
    outline: none;
    font-weight: bold;
}

.header-nav ul div #search-btn, .header-nav ul div #filter-btn{
    background-color: transparent;
    border: none;
    padding: 8px 8px;
    border-radius: 4px;
    background-color: #212121;
}

.header-nav ul div #search-btn i{
    font-size: 16px;
    color: #fff;
}

.header-nav ul div #filter-btn{
    padding: 6px 8px;
}

.header-nav ul div #filter-btn i{
    font-size: 16px;
    color: #fff;
}

.header-nav ul div i, .middle-nav ul div i, .bottom-nav ul div i{
    font-size: 20px;
    cursor: pointer;
}

.middle-nav ul a{
    text-decoration: none;
}

.middle-nav ul a div{
    margin: 5px 0;
    padding-left: 10px;
    height: 50px;
    cursor: pointer;
}

.middle-nav ul a div{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.5s;
    border-radius: 8px;
}

.middle-nav ul a div:hover{
    background-color: #4a4a4a ;
    color: #fff;
}

.active-tab{
    background-color: var(--backgroundColor);
}

.middle-nav ul div h4{
    font-weight: 500;
}

.bottom-nav ul{
    display: flex;
    justify-content: space-between;
}

.bottom-nav ul div{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;

}

.bottom-nav ul div img{
    border-radius: 7px;
    width: 42px;
    height: 42px;
}

.bottom-nav ul div p{
    font-size: 14px;
}

.bottom-nav ul div a{
    color: #fff;
}

.active{
    width: 72px;
}

.filter-menu{
    min-width: max-content;
    background-color: var(--backgroundColor);
    padding: 5px 8px;
    border-radius: 4px;
    position: absolute;
    left: 210px;
    top: 90px;
    display: none;
    transition: all 0.5s ease-in-out;
}

.active-filter-menu{
    display: block;
}

.filter-menu ul{
    margin: 0;
    padding: 0;
}

.filter-menu ul a{
    text-decoration: none;
}

.filter-menu ul a li{
    list-style: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    padding: 4px 0;
    transition: all 0.4s ease-in-out;
}

.filter-menu ul a li:hover{
    color: #b8b8b8;
}

.filter-menu ul a:not(:last-child) li{
    border-bottom: 1px solid #4a4a4a;
}