.otp-container {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.otp-container > p {
	font-size: 18px;
	font-weight: 500;
	color: var(--primary-color);
	margin-bottom: 10px;
}

.otp-bx {
	display: flex;
}

.otp-bx input {
	width: 50px;
	font-size: 24px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	margin: 2px;
	border: 2px solid var(--border-color);
	background: var(--backgroundColor);
	font-weight: bold;
	color: var(--border-color);
	outline: none;
	transition: all 0.1s;
}

.otp-bx input:focus {
	border: 2px solid var(--valid-input);
	box-shadow: 0 0 2px 2px #d1c5fc6a;
}

.otp-bx input:valid {
	border: 2px solid var(--valid-input);
}

.space {
	margin-right: 1rem !important;
}

.disabled {
	opacity: 0.5;
}

.resend {
	margin-top: 10px;
}

.resend p {
	text-align: right;
}

.resend p a {
	color: var(--primary-color);
}

.errorlist {
	text-align: center;
	margin: 10px;
	color: var(--error-color);
}
